<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Benjamin Schondorf</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="javascript/script.js "></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <ul class="navbar">
        {% for section in navbar.sections %}
            <a class="tab" href="{{section.href}}">{{section.name}}</a>
        {% endfor %}

        {% for tab_icon in navbar.other_links %}
            <a href="{{tab_icon.link}}">
                <img class="tab icon" src="{{tab_icon.image}}" alt="{{tab_icon.alt}}">
            </a>
        {% endfor %}
    </ul>

    <div class="header">
        <img class="headshot" src="resources/headshot_new.jpg" alt="headshot">
        <h1 class="name"> Benjamin Schondorf </h1>
    </div>

    <a name="aboutme"></a>
    <div class="content">
        <div class="aboutme">
            <h1>{{aboutme.header}}</h1>
            <br>
            <p>{{aboutme.text}}</p>
        </div>
    </div>

    <a name="education"></a>
    <div class="content">
        <div class="education">
            <h1>{{education.header}}</h1>

            <div class="edu_split left">
                <div class="school">
                    {% with school = education.school_info %}
                        <div class="school_header">
                            <h2>{{school.Name}}</h2>
                            <div class="school_info">
                                <i>{{school.City}}, {{school.Dates}}</i><br>
                                <i>GPA: {{school.GPA}}</i>
                            </div>
                        </div>
                        <br>
                        <p>{{school.text|safe}}</p>
                    {% endwith %}
                </div>
            </div>

            <div class="edu_split right">
                <!-- remember to add style="margin-top: 0;" to first one -->
                {% for year in education.school_info.Class_Info %}
                    <button class="collapsible_vert" {% if loop.first %} style="margin-top: 0;" {% endif %} onclick="openProject(event, '{{year.time_range}}', 'collapsible_vert', 'school_dropdown')">{{year.time_range}}</button>
                    <div class=" school_dropdown" id="{{year.time_range}}">
                        <!-- remember to add style="margin-top: 0;" to first one -->
                        {% for semester in year.semesters %}
                            <div class="subtitle" {% if loop.first %} style="margin-top: 0;" {% endif %}>{{semester.name}}</div>
        
                            <ul class="bullets">
                                {% for class in semester.classes %}
                                    <li>{{class}}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <a name="experience"></a>
    <div class="content">
        <div class="experience">
            <h1>{{experience.header}}</h1>
        </div>

        {% for job in experience.jobs %}
            <div class="exp_section" {% if loop.first %}style="margin-top: 0px;"{% endif %}>
                <div class="exp_heading">
                    <h2>{{job.name}}</h2>
                    <h3>{{job.role}}</h3>
                    <div class="time_range"><i>{{job.time_range}}</i></div>
                </div>
                <div class="exp_body">
                    <div class="exp_split left">
                        {{job.text}}
                    </div>
                    <div class="exp_split right">
                        <img class="logo" src="{{job.image}}" alt="{{job.alt}}">
                    </div>
                </div>
            </div>

            <div class="line"></div>
        {% endfor %}
    </div>

    <a name="projects"></a>
    <div class="content" style="text-align: center;">
        <div class="proj_header">
            <h1>{{proj_content.header}}</h1>
            <br>
        </div>

        <div class="projects">
            <div class="navbar" id="proj_bar">
                {% for section in proj_content.sections %}
                    <button class={% if loop.first %}"collapsible_hor active"{% else %}"collapsible_hor" {% endif %} onclick="openProject(event, '{{section.id}}', 'collapsible_hor', 'proj_dropdown')">{{section.class_name}}</button>
                {% endfor %}
            </div>

            {% for section in proj_content.sections %}
                <div class="proj_dropdown " id="{{section.id}}" {% if loop.first %}style="display: flex;"{% endif %}>
                    {% if section.title != "" %}
                        <h2 class="class_name">{{section.title}}</h2>
                    {% endif %}
                    {% for project in section.projects %}
                        <div class="proj_body" {% if loop.first %}style="margin-top: 0px;"{% endif %}>
                            <div class="proj_name">
                                <h2>{{project.name}}</h2>
                            </div>
        
                            <div class="proj_split  left">
                                <p>{{project.text}}</p>
                            </div>
                            <div class="proj_split right">
                                <img class="proj_pictures" src="{{project.pic_url}}" alt="{{project.alt}}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <a name="extracurriculars"></a>
    <div class="content" style="margin-bottom: 20px;">
        <div class="extracurriculars ">
            <h1>{{extracurricular.header}}</h1>
        </div>
        {% for activity in extracurricular.activities %}
        <div class="exp_section" {% if loop.first %}style="margin-top: 0px;"{% endif %}>
            <div class="exp_heading">
                <h2>{{activity.name}}</h2>
                <div class="time_range"><i>{{activity.time_range}}</i></div>
            </div>
            <div class="exp_body">
                <div class="exp_split left">
                    {{activity.text}}
                </div>
                <div class="exp_split right">
                    <img class="logo" src="{{activity.image}}" alt="{{activity.alt}}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>
