@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap');

:root{
    --white_back_solid: #CCC5CC;
    --white_back_trans: #ffffffB3;
    --light_purple: #35345C;
    --dark_purple: #070438;
    --school_light_purple: #a4a8d1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../resources/space_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    font-size: 25px;
}

.header {
    padding-bottom: 80px;
}

.headshot {
    border-radius: 50%;
    border: solid black 2px;
    display: block;
    height: 18%;
    width: 18%;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    width: max-content;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    width: max-content;
}

.name {
    background: var(--white_back_solid);
    background: var(--white_back_trans);
    border-radius: 10px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 40%;
}

.navbar {
    list-style-type: none;
    height: min-content;
    overflow: hidden;
    background-color: var(--light_purple);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    z-index: 9999;
    top: 0;
}

.tab {
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    float: left;
    height: 60px;
    padding: 15px 17px;
}

/* .section {
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
} */

.icon {
    padding: 6px;
    float: right;
    padding-bottom: 0px;
    display: inherit;
    height: 60px;
    width: auto;
}

.tab:hover{
    background-color: var(--dark_purple);
}

.content {
    width: inherit;
    padding: 1% 5%;
    background-color: #CCC5CC;
    background-color: #ffffffB3;
    display: block;
    margin-top: 100px;
    padding-bottom: 40px;
    overflow: hidden;
}

.aboutme {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
